.Etc {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/Korea.png);
    background-size: cover; /* 이미지가 컨테이너를 가득 채우도록 설정  */
    background-position: center; /* 사진을 중앙으로 */
    background-repeat: no-repeat; /* 반복x */

}

.contents {
    background-color: rgba(255, 255, 255, 0.5); /* 반투명 배경색 */
    border-radius: 20px;
}