/* 전체 */
.container {
  display: flex;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* 사이드바  */
.sidebar {
  width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #007bff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 12px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li:hover {
  background-color: #e0e0e0;
  color: #007bff;
}

/* 내용 */
.contents {
  width: 300px;
  flex-grow: 1;
  padding: 30px;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}

.contents h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.hero-card {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.hero-card:hover {
  transform: scale(1.02);
}

.hero-card h3 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #007bff;
}

.hero-card p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.image-area {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/1945_11_3.jpg");
  background-size: cover;
  background-position: center;
}

.blur-background {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.blur-background h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #333;
}

.blur-background p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
}