* {
  margin: 0;
}

.header {
  text-align: center;
  align-items: center; 
  background-color: #1a1a2e ;
  height: 40px;
}

.header a {
  margin: 10px;
  font-size: 20px;
  color: #e0e0e0 ;
  text-decoration: none;
}

.home {
  background-color: dodgerblue;
  height: 1000px;
}

.info {
  background-color: grey;
  height: 1000px;
  color: white;
}

.footer {
  background-color: gray;
}

.state {
  background-color: rgb(101, 101, 255);
}